/* Hello Oleg */

html {
    min-width: 1200px;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    color: #ffffff;
    /*background: url("../img/img-slider-first.png") no-repeat center top;
    background-color: #849d8f;*/
}

.catalog-page {
    background: url("../img/light-catalog.png") no-repeat center top;
    background-color: #849d8f;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 20px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background-image: linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
    border-radius: 40px;
    padding: 15px 20px;
    border: 0;
    cursor: pointer;
}

.big-button {
    display: inline-block;
    padding: 12px 44px;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background-color: #f26843;
    background: linear-gradient(to top, #e74a35, #f26843);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all linear 0.1s;
}

.button:hover,
.big-button:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)),
    linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0 2px 2px 0 #ac1000;
}

.button:active,
.big-button:active {
    color: #fceeec;
    background-image: linear-gradient(to bottom,
    rgba(0, 0, 0, 0.07),
    rgba(0, 0, 0, 0.07)),
    linear-gradient(to bottom, #e74a35, #f26843);
    box-shadow: inset 0 2px 2px 0 #942718;
}

/* Слайдер */

.site-wrapper {
    min-width: 1200px;
    background: #849d8f url("../img/slider-1.jpg") no-repeat top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider {
    position: relative;
    padding-top: 285px;
    text-align: center;
    color: #ffffff;
}

.slide {
    display: none;
}

.slider-list {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    list-style: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.slider-controls {
    position: absolute;
    bottom: 18px;
    left: 30px;
    z-index: 20;
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0;
    transition: all linear 0.3s;
}

.slider-controls label:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: rgba(255, 255, 255, 1);
}

#product-1:checked ~ .site-wrapper {
    background: #849d8f url("../img/slider-1.jpg") no-repeat top center;
}

#product-2:checked ~ .site-wrapper {
    background: #8996a6 url("../img/slider-2.jpg") no-repeat top center;
}

#product-3:checked ~ .site-wrapper {
    background: #9d8b84 url("../img/slider-3.jpg") no-repeat top center;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("../img/slider-2.jpg");
}

.site-wrapper::after {
    background-image: url("../img/slider-3.jpg");
}

/* Навигация */

.main-nav {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.main-nav-wrapper {
    display: flex;
    padding-top: 5px;
}

.main-header-logo {
    width: 154px;
    height: 64px;
    margin-right: 10px;
}

.main-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 680px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav-list > li {
    position: relative;
    padding-bottom: 12px;
    padding-top: 8px;
}

.main-nav-list > li > a {
    padding: 7px 15px;
    color: #ffffff;
    text-decoration: underline;
    border-radius: 20px;
}

.main-nav-list > li:last-child > a {
    margin-right: 0;
}

.main-nav-list > li > a:hover,
.main-nav-list > li > a:focus {
    color: #333333;
    background-color: #f7f6f3;
    text-decoration: none;
}

.main-nav-list > li > .current-link {
    background-color: #d07058;
    text-decoration: none;
}

.main-nav-list > li > .current-link:hover,
.main-nav-list > li > .current-link:focus {
    background-color: #d07058;
    color: #ffffff;
}

.main-nav-list > li > a:active {
    color: #333333;
    background: #ededed;
    box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.1);
}

.main-nav-list > li:hover .main-subnav-list,
.main-nav-list > li:focus .main-subnav-list {
    display: block;
}

.main-nav .main-subnav-list {
    position: absolute;
    top: 37px;
    left: -5px;
    display: none;
    width: 143px;
    background-color: #f8f7f4;
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
    list-style: none;
    border-radius: 4px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.main-subnav-item:not(:last-child) {
    margin-bottom: 5px;
}

.main-subnav-item__new {
    display: block;
    padding: 13px 15px;
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}

.main-subnav-item a {
    display: block;
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    padding: 5px 15px 5px 15px;
}

.main-subnav-item:hover a,
.main-subnav-item:focus a{
    background-color: #fbded7;
}

.main-subnav-list > li > .current-link {
    background-color: #d07058;
    color: #ffffff;
}

.main-subnav-item:active a {
    background-color: #f6b5a5;
}

.user-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 270px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    list-style: none;
}

.user-nav li:not(:last-child) {
    margin-right: 10px;
}

.user-nav a {
    position: relative;
    display: block;
    vertical-align: middle;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 9px 17px 9px 45px;
    font-weight: 500;
    border-radius: 20px;
}

.user-nav .login-site::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 16px;
    width: 20px;
    height: 20px;
    background: url("../img/svg/login-light.svg") no-repeat 0 0;
}

.user-nav .login-site:hover::before,
.user-nav .login-site:focus::before {
    background: url("../img/svg/login-dark.svg");
    transition: all linear 0.3s;
}

.user-nav .basket::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 16px;
    width: 20px;
    height: 20px;
    background: url("../img/svg/basket.svg") no-repeat 0 0;
}

.user-nav .search {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.user-nav li:not(:last-of-type) a:hover,
.user-nav li:not(:last-of-type) a:focus {
    color: #333333;
    background-color: #f8f7f4;
    transition: all linear 0.3s;
}

.user-nav .search:hover path,
.user-nav .search:focus path {
    fill: #000000;
}

/* About Work and Breadcrumbs */

.top-wrapper {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.about-work {
    /*margin-bottom: 280px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    order: 2;
}

.about-work__catalog {
    margin-bottom: 0;
}

.about-work p {
    margin: 0;
    padding: 0;
}

.about-work p:first-child {
    margin-bottom: 8px;
}

.breadcrumbs-list {
    display: flex;
    position: relative;
    order: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs-item:not(:last-child) {
    margin-right: 20px;
}

.breadcrumbs-item a {
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: underline;
}

.breadcrumbs-item__current a {
    text-decoration: none;
}

.breadcrumbs-item:not(:last-child) a::after {
    content: '';
    position: absolute;
    top: 7px;
    margin-left: 7px;
    width: 7px;
    height: 7px;
    background-size: 7px 7px;
    background: url("../img/svg/right-arrow.svg") no-repeat;
}

/* Banner */

.s-banner {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.banner-wrapper {
    display: flex;
    justify-content: space-between;
}

.s-banner h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 41px;
}

.s-banner p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
}

.banner {
    padding: 23px 20px;
    width: 560px;
    height: 230px;
    position: relative;
    border-radius: 20px;
}

.banner-left {
    background-image: url("../img/rasberry_bg.jpg");
}

.banner-right {
    background-image: url("../img/chocolate_bg.jpg");
}

.banner-left .button,
.banner-right .button {
    position: absolute;
    bottom: 22px;
    right: 22px;
}

/* BestSellers */
.bestsellers {
    margin: 0;
    padding: 0;
}

.product-prev-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.product-prev {
    position: relative;
    max-width: 265px;
}

.product-prev:focus,
.product-prev:hover {
    z-index: 10;
}

.product-prev::after {
    content: "";
    position: absolute;
    width: 293px;
    height: 405px;
    top: -8px;
    left: -14px;
    border-radius: 5px;
}

.product-prev:hover::after {
    transition: all linear 0.3s;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    z-index: 7;
}

.product-margin:not(:nth-of-type(n+9)) {
    margin-bottom: 40px;
}

.product-prev__wrapper {
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.product-prev__header {
    position: relative;
    margin-bottom: 17px;
    width: 265px;
    height: 265px;
    display: block;
    color: #ffffff;
    z-index: 9;
}

.product-prev__marks {
    position: relative;
}

.product-prev__mark-hit {
    position: absolute;
    z-index: 9;
}

.product-prev__mark-price {
    position: absolute;
    left: 0;
    top: 210px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
    z-index: 9;
}

.weight {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
}

.product-prev__body {
    position: relative;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: underline;
    font-weight: 500;
    z-index: 9;
}

.product-prev__body:hover {
    color: #ffbc9e;
}

.product-prev__footer .button {
    position: absolute;
    padding: 10px 20px;
    bottom: -55px;
    left: 28px;
    display: none;
}

.product-prev:hover .product-prev__footer .button {
    display: block;
    z-index: 10;
    transition: all linear 0.3s;
}

/* Advantage */

.advantage {
    background: url("../img/waffy.jpg") repeat 0 0;
    margin: 0;
    margin-bottom: 40px;
    padding: 20px 20px;
    border-radius: 20px;
}

.advantage p {
    margin: 0;
    padding: 0;
    color: #323232;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    font-weight: 500;
}

.advantage-prev-list {
    display: flex;
    flex-wrap: wrap;
}

.advantage-prev {
    display: flex;
    margin-top: 10px;
    width: 540px;
}

.advantage-prev:nth-child(odd) {
    margin-right: 20px;
}

.advantage-prev__title {
    margin-top: 15px;
    font-weight: 400;
    color: #323232;
    font-size: 16px;
    line-height: 22px;
}

.advantage-prev__img {
    margin-right: 8px;
}

/* News and Subscribe */

.index-column {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.new-blog {
    width: 560px;
    padding: 26px 20px;
    background: url("../img/strawberry_bg.jpg") no-repeat -50px -224px;
    border-radius: 20px;

}

.new-blog h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    color: #323232;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
}

.new-blog p {
    margin: 0;
    padding: 0;
    margin-right: auto;
    width: 285px;
}

.new-blog a {
    color: #323232;
    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
}

.new-blog a:hover {
    color: #ffbc9e;
}

.subscribe {
    width: 560px;
    padding: 5px;
    background-color: #f8f7f4;
    background: url("../img/post_bg.jpg") no-repeat;
    border-radius: 20px;
}

.subscribe-wrapper {
    background-color: #f8f7f4;
    border-radius: 20px;
    background-position: center;
}

.subscribe-wrapper p {
    margin: 0;
    padding: 30px 20px 0 20px;
    margin-bottom: 35px;
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
}

.subscribe-form {
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding-bottom: 35px;
}

.subscribe-form input[type="email"] {
    width: 368px;
    height: 44px;
    padding-left: 15px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    background-color: #ffffff;
    border: 1px solid #b2b2b2;
    border-radius: 10px;
}

.subscribe-form input[type="email"]:focus {
    color: #000000;
    font: inherit;
    border: 1px solid rgba(46, 136, 228, 0.5);
}

.button-form {
    margin-right: 20px;
    line-height: 0;
    height: 44px;
}

/* Footer Map */

.footer-map {
    position: relative;
    color: #323232;
    height: 430px;
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin-bottom: 20px;
}

.footer-map.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-map__location {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 30px 25px;
    background-color: #ffffff;
    border-radius: 10px;
}

.footer-map__info {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer-map__address {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}

.footer-map__phone {
    font-size: 18px;
    line-height: 22px;
}

.footer-map__time {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 25px;
}

.footer-map__button {
    display: flex;
    flex: 1;
}

.footer-map__button .button {
    flex: 1;
}

/* Footer social */

.footer-social__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.footer-social {
    display: flex;
}

.footer-social-list {
    display: flex;
    padding: 0;
    list-style: none;
}

.footer-social-list li:not(:last-child) {
    margin-right: 10px;
}

.footer-social__tweet {
    opacity: 0.8;
    width: 38px;
    height: 38px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    background: url("../img/svg/tweeter.svg") no-repeat;
}

.footer-social__tweet:hover {
    opacity: 1;
}

.footer-social__tweet:active {
    box-shadow: inset 0 2px 1px 0 rgba(136, 136, 136, 0.5);
}


.footer-social__inst {
    opacity: 0.8;
    width: 38px;
    height: 38px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    background: url("../img/svg/insta.svg") no-repeat;
}

.footer-social__inst:hover {
    opacity: 1;
}

.footer-social__inst:active {
    box-shadow: inset 0 2px 1px 0 rgba(136, 136, 136, 0.5);
}

.footer-social__fb {
    opacity: 0.8;
    width: 38px;
    height: 38px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    background: url("../img/svg/fb.svg") no-repeat;
}

.footer-social__fb:hover {
    opacity: 1;
}

.footer-social__fb:active {
    box-shadow: inset 0 2px 1px 0 rgba(136, 136, 136, 0.5);
}

.footer-social__vk {
    opacity: 0.8;
    width: 38px;
    height: 38px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    background: url("../img/svg/vk.svg") no-repeat;
}

.footer-social__vk:hover {
    opacity: 1;
}

.footer-social__vk:active {
    box-shadow: inset 0 2px 1px 0 rgba(136, 136, 136, 0.5);
}

.footer-about {
    width: 560px;
    display: flex;
    justify-content: center;
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
}

.footer-about a {
    color: #ffffff;
    font-weight: 400;
    text-decoration: underline;
}

.footer-about a:hover {
    color: #ffbc9e;
}

.footer-about-left {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.footer-about-left a:first-child {
    margin-bottom: 10px;
}

.footer-about-right {
    display: flex;
    flex-direction: column;
}

.footer-about-right a:first-child {
    margin-bottom: 10px;
}

.footer-about-left .for_dist {
    position: relative;
    font-weight: 700;

}

.for_dist::before {
    content: "";
    background: url("../img/svg/heart.svg") no-repeat;
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    position: absolute;
    left: -23px;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
}

.footer-copyright p {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.html-link {
    color: #ffffff;
}

.html-link:hover {
    color: #ffbc9e;
}

.html-logo {
    margin-bottom: 8px;
    width: 125px;
    height: 40px;
    background: url("../img/svg/html-logo.svg") no-repeat;
}

/* Form */

.filters {
    margin-bottom: 40px;
}

.filters h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.filter fieldset {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.filter label,
.filter legend {
    display: inline-block;
    margin-bottom: 6px;
    margin-left: 15px;
}

/* Form top */

.filter-top-wrapper {
    display: flex;
    margin-bottom: 20px;
}

.filter-top:not(:last-child) {
    margin-right: 15px;
}

.select {
    width: 195px;
    padding: 10px 15px;
    -webkit-appearance: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    border: none;
    border-radius: 90px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.select option {
    color: #000000;
}

.filter-select-wrapper:hover .select,
.filter-select-wrapper:focus .select {
    color: #000000;
}

.filter-select-wrapper {
    position: relative;
}

.filter-select {
    pointer-events: none;
}

.filter-select::after {
    content: "";
    right: 15px;
    top: 14px;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5.5px 0 5.5px;
    border-color: #ffffff transparent transparent transparent;
}

.filter-select-wrapper:hover .filter-select::after {
    border-color: #323232 transparent transparent transparent;
}

.filter-range {
    display: flex;
    justify-content: space-around;
    width: 220px;
    height: 38px;
    border: none;
    border-radius: 90px;
    background-color: rgba(255, 255, 255, 0.2);
}

.filter-range input {
    width: 176px;
}

.filter-radio-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 415px;
    height: 38px;
    border: none;
    border-radius: 90px;
    background-color: rgba(255, 255, 255, 0.2);
}

.filter-input-radio {
    margin-right: 10px;
}

.filter .filter-radio-label {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
}

/* Form bottom */

.filter-bottom-wrapper {
    display: flex;
}

.filter-option-list {
    width: 700px;
    height: 38px;
    margin: 0;
    padding: 0;
    margin-right: 15px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 90px;
    background-color: rgba(255, 255, 255, 0.2);
}

.filter-input-checkbox {
    margin-right: 10px;
}

.filter-option-item label {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
}

.filter-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.filter-button {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    width: 145px;
    height: 38px;
    border: 2px solid #ffffff;
    border-radius: 90px;
    background-color: rgba(255, 255, 255, 0.2);
}

.filter-button:hover {
    cursor: pointer;
    color: #323232;
    border: none;
    background-color: #fbfcfb;
}

.filter-button:active {
    box-shadow: inset 0px 2px 1px 0 #696969;
    background-color: #ededed;
}

/* Pagination */

.pagination-list {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-size: 16px;
    line-height: 18px;
}

.pagination-item:not(:last-child) {
    margin-right: 20px;
}

.pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pagination-item a:hover::before {
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
}

.pagination-item a {
    color: #ffffff;
}































